version: "3.3"

volumes:
  reddit-db:
  prometheus_data:

networks:
  reddit:
  prom-net:

services:
  post-db:
    image: mongo:${MONGO_VER}
    container_name: post-db
    restart: always
    networks:
      prom-net:
        aliases:
          - post_db
          - commment_db 
      reddit:
        aliases:
          - post_db
          - commment_db 
    volumes:
      - ./reddit-db:/data/db

  post:
    image: ${USER_NAME}/post:${POST_VER}
    container_name: post
    restart: always
    networks:
      prom-net:
        aliases:
          - post
      reddit:
        aliases:
          - post

  comment:
    image: ${USER_NAME}/comment:${COMMENT_VER}
    container_name: comment
    restart: always
    networks:
      prom-net:
        aliases:
          - comment
      reddit:
        aliases:
          - comment

  ui:
    image: ${USER_NAME}/ui:${UI_VER}
    container_name: ui
    restart: always
    networks:
      prom-net:
        aliases:
          - ui
      reddit:
        aliases:
          - ui
    ports:
      - 9292:9292

  prometheus:
    image: ${USER_NAME}/prometheus
    container_name: prometheus
    restart: always
    networks:
      prom-net:
    ports:
      - '9090:9090'
    volumes:
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention=1d'
